<div id="circulo"><h2>SIMON</h2></div>
	
<table>
	
	<tr>
		<td id="verde" ng-click="play('verde')"></td>
		<td id="rojo" ng-click="play('rojo')"></td>
	</tr>
	<tr>
		<td id="amarillo" ng-click="play('amarillo')"></td>
		<td id="azul" ng-click="play('azul')"></td>
	</tr>
	
</table>

<audio id="audio" src="https://googledrive.com/host/0B6mm5NspeMk-b0Jhc210ZVJDcjg"></audio>

<div class="aligncenter">
<h1 id="colorelegido"> </h1>

<!-- <h1 class="aligncenter">{{titulo}} {{colores}}</h1> -->

<ul class="list-group">
  <li class="list-group-item">Verde: {{acumuladorverde}}</li>
  <li class="list-group-item">Rojo: {{acumuladorrojo}}</li>
  <li class="list-group-item">Azul: {{acumuladorazul}}</li>
  <li class="list-group-item">Amarillo: {{acumuladoramarillo}}</li>
</ul>

<button type="button" class="btn btn-primary aligncenter" ng-click="reset()">Reset</button>

</div>